@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.libre{
  font-family: "Libre Baskerville", serif;
  font-style: normal;
}
.nuni{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


button {
  border: 2px solid #8a6c42;
  color: #8a6c42;
  padding: 15px 35px;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 2.5px;
  background-color: #8a6c42;
  color: hsl(0, 0%, 100%);
  box-shadow: #8a6c42;
}

button:active {
  letter-spacing: 2.5px;
  background-color: #8a6c42;
  color: hsl(0, 0%, 100%);
  box-shadow: #8a6c42;
  transform: translateY(10px);
  transition: 100ms;
}

@media (max-width: 480px) {
  button{
    padding: 10px 25px;
  }
}

/* Loaders */
/* From Uiverse.io by bociKond */ 
.loader {
  width: 44.8px;
  height: 44.8px;
  color: #8a6c42;
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}
