@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.libre{
  font-family: "Libre Baskerville", serif;
  font-style: normal;
}
.nuni{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


button {
  border: 2px solid #8a6c42;
  padding: 15px 35px;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 2px;
  background-color: #8a6c42;
  color: hsl(0, 0%, 100%);
  box-shadow: #8a6c42;
}

button:active {
  letter-spacing: 2px;
  background-color: #8a6c42;
  color: hsl(0, 0%, 100%);
  box-shadow: #8a6c42;
  transform: translateY(10px);
  transition: 100ms;
}